footer{
    background-color: rgb(20,20,20);
    margin: 15px;
    font-size: 25px;
    p{
        color: white;
    }
    ul{
        list-style: none;
        text-decoration: none;
        color: white;
        a{
            list-style: none;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.76);
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}